@import "tailwindcss";

@plugin "daisyui" {
  themes: night --default;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/montserrat/Montserrat-Medium.ttf") format("truetype");
  /* font-weight: 400;
  font-style: normal; */
}

/* 2. Registrar la fuente como utilidad de Tailwind */
@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

}